*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    position: absolute;
    top: 150px;
    /* text-align: center; */
    left: 650px;
    font-size: 22px;
}
input{
    width: 200px;
    height: 3vh;
    font-size: 16px;
    padding: 20px 5px;
}
.submit{
    position: absolute;
    right: 85px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid black;
}